name: test uip proposals

on:
    push:
        branches:
            - "uip/**"
jobs:
    buildAndSimulate:
        name: Build and Simulate
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14

            - name: Install Dependencies
              run: yarn

            - name: Simulate on mainnet
              run: yarn sim:in_review
              env:
                  ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
                  INFURA_ID: ${{ secrets.INFURA_ID }}
                  MNEMONIC_TEST: ${{ secrets.MNEMONIC_TEST }}
                  TENDERLY_ACCESS_KEY: ${{ secrets.TENDERLY_ACCESS_KEY }}
                  TENDERLY_USER: ${{ secrets.TENDERLY_USER }}
                  TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
